{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'leads_list.css' %}">
    <title>{% block title %}Teams{% endblock %}</title>
{% endblock %}


{% block content %}

<div class="page-background">
    <div class="led">
        <h1 class="zag">Teams</h1>
        <a class="das" href="{% url 'addteam' %}">Add Team</a>

        <div class="flex-header">
            <p class="column-title">Name</p>
        </div>

        <div class="scroll-container">
            {% for team in teams %}
                <div class="table-row">
                    <p class="row-text">
                        <a href="{% url 'teams_detail' team.id %}">{{ team.name }}</a>
                    </p>
                    <p class="row-text">{{ team.get_priority_display }}</p>
                    <p class="row-text">{{ team.get_status_display }}</p>
                </div>
            {% empty %}
                <p>There are no teams in the database yet...</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}