{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    <title>{% block title %}Add Client{% endblock %}</title>
{% endblock %}


{% block content %}
    <h1>Add Client</h1>

    {{ team.plan.max_clients }} - {{ team.clients.all|length }}

    Num clients: {{ team.clients.all|length }}
    {% if team.plan.max_leads > team.clients.all|length %}
        <form method="post" action=".">
            {% csrf_token %}

            {{ form.as_p }}

            <button>Submit</button>
        </form>
    {% else %}
        <div>
            <p>You have reached the limit</p>
        </div>
    {% endif %}

{% endblock %}
