{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'hom_leads.css' %}">
    <link rel="stylesheet" href="{% static 'leads_details.css' %}">
    <title>{% block title %}{{ client.name }}{% endblock %}</title>
{% endblock %}


{% block content %}

<div class="lead-card">
    <h1>{{ client.name }}</h1>

    {% if client.Description %}
        <p>Description</p>
        <p class="value description">{{ client.description }}</p>
    {% endif %}

    <p>Created at</p>
    <p class="value">{{ client.cre }}</p>

    <p>Modifed at</p>
    <p class="value">{{ client.modified_at }}</p>

    <hr>
    <a class="edit" href="{% url 'clients_edit' client.id %}">Edit</a>
    <a class="delete" href="{% url 'clients_delete' client.id %}">Delete</a>
    <hr>

    <a class="back" href="{% url 'clients_list' %}">Back to clients</a>
</div>

{% endblock %}